In [1]:
import pandas as pd
from geopy.geocoders import Nominatim

In [2]:
final_dataset = pd.read_csv('/Users/Grant/Desktop/research/research_data.csv', index_col=0)
final_dataset.head()

,address,lat_long,name
0,"626 E Manchester Ave, Los Angeles, CA 90001, U...","{'location': {'lat': 33.9597758, 'lng': -118.2...",Smoke Shop
1,"5968 Santa Fe Ave, Huntington Park, CA 90255, ...","{'location': {'lat': 33.9878515, 'lng': -118.2...",The Spot Smoke Shop
2,"1804 Firestone Blvd, Los Angeles, CA 90001, Un...","{'location': {'lat': 33.95994659999999, 'lng':...",TNT Tobacco Store
3,"7610 San Pedro St, Los Angeles, CA 90003, Unit...","{'location': {'lat': 33.9709491, 'lng': -118.2...",Morelos Smoke Shop
4,"7300 San Pedro St, Los Angeles, CA 90003, Unit...","{'location': {'lat': 33.973667, 'lng': -118.26...",D & D Smoke Shop

In [3]:
addresses = final_dataset['address']

geolocator = Nominatim(user_agent='research_geocode')

lat = []
long = []
a = []
for address in addresses: 
    try:
        location = geolocator.geocode({address})
        lat.append(location.latitude)
        long.append(location.longitude)
        a.append(location.address)
    except: 
        pass

In [4]:
lat_long = {'latitude': lat, 'longitude': long, 'address': a}
df = pd.DataFrame(lat_long)
file_name = '/Users/Grant/Desktop/research/lat_long.csv'
df.to_csv(file_name, columns=['latitude', 'longitude', 'address'])
df.head(20)

     latitude   longitude                                            address
0   33.960050 -118.264467  626, East Manchester Avenue, Florence, Los Ang...
1   33.987843 -118.230181  5968, Santa Fe Avenue, Huntington Park, Los An...
2   33.960065 -118.240581  1804, Firestone Boulevard, Nadeau, Firestone P...
3   34.041848 -118.245602  San Pedro Street, Skid Row, Little Tokyo Histo...
4   34.041848 -118.245602  San Pedro Street, Skid Row, Little Tokyo Histo...
5   33.974110 -118.234613  Alameda Street, Florence-Graham, Firestone Par...
6   34.053691 -118.242767  Los Angeles, Los Angeles County, California, U...
7   33.964168 -118.278301  South Broadway, Florence, Los Angeles, Los Ang...
8   33.964168 -118.278301  South Broadway, Florence, Los Angeles, Los Ang...
9   33.974389 -118.227967  2490, East Florence Avenue, Huntington Park, L...
10  34.041848 -118.245602  San Pedro Street, Skid Row, Little Tokyo Histo...
11  33.982413 -118.225203  Pacific Boulevard, Huntington Park, Los Angele...
12  33.974692 -118.253027  1252, East Florence Avenue, Florence-Graham, L...
13  33.985936 -118.291496  Vermont Avenue, Wildasin, South Los Angeles, L...
14  34.003691 -118.273879  4402, South Main Street, Jefferson, Los Angele...
15  33.948167 -118.273774  9700, South Main Street, Florence, Los Angeles...
16  33.973889 -118.222910  2676, East Florence Avenue, Walnut Park, Fires...
17  33.923119 -118.254342  South Central Avenue, Watts, Los Angeles, Los ...
18  33.943057 -118.237791  1950, East 103rd Street, Watts, Los Angeles, L...
19  33.959809 -118.394925  West Manchester Avenue, Westchester, Playa Vis...