In [1]:
import json
import pandas as pd
import requests
import utils

In [2]:
api_key = utils.api_key()
url = 'https://maps.googleapis.com/maps/api/place/textsearch/json?'

def dataframe_from_area_code(query):
    r = requests.get(url + 'query=' + query + '&key=' + api_key) 
    x = r.json() 
    y = x['results'] 
    df = pd.DataFrame(y)
    return df

global final_dataset

zip_code = ['90001', '90002', '90003', '90007', '90008', '90011', '90016',
            '90018', '90037', '90043', '90044', '90047', '90059', '90061',
            '90062', '90266', '90267', '90291', '90292', '90293', '90401', 
            '90402', '90403', '90404', '90405']

In [3]:
smoke_shops = pd.DataFrame()

# dataset for smoke shops
for i in range(len(zip_code)):
    a = pd.DataFrame(dataframe_from_area_code('smoke shops near ' + zip_code[i]))
    smoke_shops = pd.concat([smoke_shops, a], axis=0, sort=True)
    
smoke_shops.drop(['id', 'icon', 'place_id', 'opening_hours', 
                    'plus_code', 'reference', 'photos', 'price_level', 
                    'rating', 'types', 'user_ratings_total'], axis=1, inplace=True)
smoke_shops.rename(columns = {'formatted_address': 'address', 'geometry': 'lat_long'}, inplace=True)
smoke_shops.drop_duplicates(subset='address', keep='first', inplace=True)
smoke_shops.reset_index(drop=True, inplace=True)
file_name = '/Users/Grant/Desktop/research/smoke_shops.csv'
smoke_shops.to_csv(file_name, columns = ['address', 'lat_long', 'name'])
print(smoke_shops.shape)
smoke_shops.head(10)

(172, 3)

,address,lat_long,name
0,"626 E Manchester Ave, Los Angeles, CA 90001, U...","{'location': {'lat': 33.9597758, 'lng': -118.2...",Smoke Shop
1,"5968 Santa Fe Ave, Huntington Park, CA 90255, ...","{'location': {'lat': 33.9878515, 'lng': -118.2...",The Spot Smoke Shop
2,"1804 Firestone Blvd, Los Angeles, CA 90001, Un...","{'location': {'lat': 33.95994659999999, 'lng':...",TNT Tobacco Store
3,"7610 San Pedro St, Los Angeles, CA 90003, Unit...","{'location': {'lat': 33.9709491, 'lng': -118.2...",Morelos Smoke Shop
4,"7300 San Pedro St, Los Angeles, CA 90003, Unit...","{'location': {'lat': 33.973667, 'lng': -118.26...",D & D Smoke Shop
5,"6373 Alameda St #b, Los Angeles, CA 90001, Uni...","{'location': {'lat': 33.9818421, 'lng': -118.2...",Smoke Shop HP
6,"Los Angeles, CA 90001, United States","{'location': {'lat': 33.9744388, 'lng': -118.2...",Tobacco-Mart
7,"6414 S Broadway, Los Angeles, CA 90003, United...","{'location': {'lat': 33.9809686, 'lng': -118.2...",It Is What It Is Smoke Shop
8,"8762 S Broadway, Los Angeles, CA 90003, United...","{'location': {'lat': 33.9575988, 'lng': -118.2...",Brook's and johnson's smoke shop
9,"2490 E Florence Ave, Huntington Park, CA 90255...","{'location': {'lat': 33.9742654, 'lng': -118.2...",Smoke City

In [4]:
liquor_stores = pd.DataFrame()

# dataset for liquor stores
for i in range(len(zip_code)):
    a = pd.DataFrame(dataframe_from_area_code('liquor stores near ' + zip_code[i]))
    liquor_stores = pd.concat([liquor_stores, a], axis=0, sort=True)
    
liquor_stores.drop(['id', 'icon', 'place_id', 'opening_hours', 
                    'plus_code', 'reference', 'photos', 'price_level', 
                    'rating', 'types', 'user_ratings_total'], axis=1, inplace=True)
liquor_stores.rename(columns = {'formatted_address': 'address', 'geometry': 'lat_long'}, inplace=True)
liquor_stores.drop_duplicates(subset='address', keep='first', inplace=True)
liquor_stores.reset_index(drop=True, inplace=True)
file_name = '/Users/Grant/Desktop/research/liquor_stores.csv'
liquor_stores.to_csv(file_name, columns = ['address', 'lat_long', 'name'])
print(liquor_stores.shape)
liquor_stores.head(10)

(263, 3)

,address,lat_long,name
0,"1261 E Florence Ave #2432, Los Angeles, CA 900...","{'location': {'lat': 33.975013, 'lng': -118.25...",check n bottle
1,"7727 S Central Ave, Los Angeles, CA 90001, Uni...","{'location': {'lat': 33.9686131, 'lng': -118.2...",Central Liquor Store
2,"1740 E Florence Ave, Los Angeles, CA 90001, Un...","{'location': {'lat': 33.9745846, 'lng': -118.2...",Bank Liquor Store
3,"7651 Compton Ave, Los Angeles, CA 90001, Unite...","{'location': {'lat': 33.9706286, 'lng': -118.2...",Rex's Liquor Store
4,"7420 S Central Ave, Los Angeles, CA 90001, Uni...","{'location': {'lat': 33.9724347, 'lng': -118.2...",My Liquor Bank
5,"Los Angeles, CA 90001, United States","{'location': {'lat': 33.9795179, 'lng': -118.2...",Hi Liquor
6,"1012 E Florence Ave, Los Angeles, CA 90001, Un...","{'location': {'lat': 33.9746034, 'lng': -118.2...",Blimp Liquor
7,"6226 Holmes Ave, Los Angeles, CA 90001, United...","{'location': {'lat': 33.9830597, 'lng': -118.2...",KT Liquor
8,"5901 Compton Ave, Los Angeles, CA 90001, Unite...","{'location': {'lat': 33.9869458, 'lng': -118.2...",Columbia Liquor
9,"711 E Manchester Ave, Los Angeles, CA 90001, U...","{'location': {'lat': 33.9605167, 'lng': -118.2...",Liquor Jr. Market

In [5]:
marijuana = pd.DataFrame()

# dataset for marijuana dispenseries
for i in range(len(zip_code)):
    a = pd.DataFrame(dataframe_from_area_code('marijuana near ' + zip_code[i]))
    marijuana = pd.concat([marijuana, a], axis=0, sort=True)
    
marijuana.drop(['id', 'icon', 'place_id', 'opening_hours', 
                    'plus_code', 'reference', 'photos', 
                    'rating', 'types', 'user_ratings_total'], axis=1, inplace=True)
marijuana.rename(columns = {'formatted_address': 'address', 'geometry': 'lat_long'}, inplace=True)
marijuana.drop_duplicates(subset='address', keep='first', inplace=True)
marijuana.reset_index(drop=True, inplace=True)
file_name = '/Users/Grant/Desktop/research/marijuana.csv'
marijuana.to_csv(file_name, columns = ['address', 'lat_long', 'name'])
print(marijuana.shape)
marijuana.head(10)

(45, 3)

,address,lat_long,name
0,"150 Venice Blvd, Los Angeles, CA 90015, United...","{'location': {'lat': 34.0339896, 'lng': -118.2...",LA Wonderland Marijuana Dispensary Recreational
1,"1444 S Alameda St, Los Angeles, CA 90021, Unit...","{'location': {'lat': 34.0241297, 'lng': -118.2...",Marijuana Meds Store
2,"7404 S Western Ave, Los Angeles, CA 90047, Uni...","{'location': {'lat': 33.9725078, 'lng': -118.3...",MMJ HEAVEN ON EARTH PRE ICO MEDICAL MARIJUANA ...
3,"1155 N Vermont Ave #200, Los Angeles, CA 90029...","{'location': {'lat': 34.0926053, 'lng': -118.2...",The Doctor's - Los Angeles - Medical Marijuana...
4,"3389 E 50th St B, Vernon, CA 90058, United States","{'location': {'lat': 33.9991777, 'lng': -118.2...",Marijuana Packaging
5,"2315 S Vermont Ave, Los Angeles, CA 90007, Uni...","{'location': {'lat': 34.0346613, 'lng': -118.2...",Da Green Corner - Marijuana Delivery Service
6,"5500 E Washington Blvd suite c, Commerce, CA 9...","{'location': {'lat': 34.0004133, 'lng': -118.1...",GrassDoor Marijuana Delivery
7,"707 Wilshire Blvd, Los Angeles, CA 90017, Unit...","{'location': {'lat': 34.0491994, 'lng': -118.2...",California State Marijuana Insurance | CSMI
8,"556 S Hope St, Los Angeles, CA 90071, United S...","{'location': {'lat': 34.0497449, 'lng': -118.2...",Marijuana Delivery
9,"169 S Alvarado St #101, Los Angeles, CA 90057,...","{'location': {'lat': 34.0650249, 'lng': -118.2...","MGN MEDICAL CLINIC (420, Marijuana, Cannabis D..."

In [6]:
schools = pd.DataFrame()

# dataset for schools
for i in range(len(zip_code)):
    a = pd.DataFrame(dataframe_from_area_code('schools near ' + zip_code[i]))
    schools = pd.concat([schools, a], axis=0, sort=True)
    
schools.drop(['id', 'icon', 'place_id', 'opening_hours', 
              'plus_code', 'reference', 'photos'], axis=1, inplace=True)
schools.rename(columns = {'formatted_address': 'address', 'geometry': 'lat_long'}, inplace=True)
schools.drop_duplicates(subset='address', keep='first', inplace=True)
schools.reset_index(drop=True, inplace=True)
file_name = '/Users/Grant/Desktop/research/schools.csv'
schools.to_csv(file_name, columns = ['address', 'lat_long', 'name'])
print(schools.shape)
schools.head(10)

(286, 6)

,address,lat_long,name,rating,types,user_ratings_total
0,"5886 Compton Ave, Los Angeles, CA 90001, Unite...","{'location': {'lat': 33.98724869999999, 'lng':...",Alliance Kory Hunter Middle School,4.3,"[secondary_school, school, point_of_interest, ...",32.0
1,"8511 Compton Ave, Los Angeles, CA 90001, Unite...","{'location': {'lat': 33.9607535, 'lng': -118.2...",The New Charles Drew Middle School,4.1,"[secondary_school, school, point_of_interest, ...",52.0
2,"7812 McKinley Ave, Los Angeles, CA 90001, Unit...","{'location': {'lat': 33.96795609999999, 'lng':...",Mc Kinley Ave Elementary School,4.0,"[school, point_of_interest, establishment]",24.0
3,"6100 S Central Ave, Los Angeles, CA 90001, Uni...","{'location': {'lat': 33.9840242, 'lng': -118.2...",Diego Rivera Learning Complex,3.9,"[school, point_of_interest, establishment]",49.0
4,"7211 Bell Ave, Los Angeles, CA 90001, United S...","{'location': {'lat': 33.973797, 'lng': -118.23...",Florence Ave Elementary School,4.5,"[primary_school, school, point_of_interest, es...",19.0
5,"6500 Hooper Ave, Los Angeles, CA 90001, United...","{'location': {'lat': 33.9803337, 'lng': -118.2...",Edison Middle School,4.0,"[secondary_school, school, point_of_interest, ...",46.0
6,"1125 E 74th St, Los Angeles, CA 90001, United ...","{'location': {'lat': 33.9734492, 'lng': -118.2...",Wisdom Elementary School,4.4,"[primary_school, school, point_of_interest, es...",22.0
7,"1321 E 61st St, Los Angeles, CA 90001, United ...","{'location': {'lat': 33.9845948, 'lng': -118.2...",Dr. Lawrence H. Moore M/S/T Academy,4.1,"[primary_school, school, point_of_interest, es...",21.0
8,"5909 Lillian St, Los Angeles, CA 90001, United...","{'location': {'lat': 33.9863468, 'lng': -118.2...",Lillian Street Elementary School,4.6,"[school, point_of_interest, establishment]",9.0
9,"1263 Firestone Blvd, Los Angeles, CA 90001, Un...","{'location': {'lat': 33.9610357, 'lng': -118.2...",Russell Elementary School,4.1,"[primary_school, school, point_of_interest, es...",15.0